# Files and directories generated during the build process
node_modules/
dist/
build/
.cache/

# Development-specific files
.git/
.gitignore
.DS_Store
.env
*.log

# Package manager files
package-lock.json
yarn.lock

# Build and configuration files
webpack.config.js
babel.config.js

# Test files and directories
tests/
__tests__/

# Editor-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Miscellaneous files
*.swp
Thumbs.db
